USE [master]
GO
/****** Object:  Database [VideoStore_Tarun]    Script Date: 5/12/2020 8:28:28 PM ******/
CREATE DATABASE [VideoStore_Tarun]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoStore_Tarun', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoStore_Tarun.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoStore_Tarun_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\VideoStore_Tarun_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoStore_Tarun].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoStore_Tarun]
GO
/****** Object:  Table [dbo].[ClientTable]    Script Date: 5/12/2020 8:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientTable](
	[Client_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Client_Name] [varchar](50) NULL,
	[Client_Mob] [varchar](50) NULL,
	[Client_Address] [varchar](50) NULL,
 CONSTRAINT [PK_ClientTable] PRIMARY KEY CLUSTERED 
(
	[Client_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieTable]    Script Date: 5/12/2020 8:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieTable](
	[Movie_Pk] [int] IDENTITY(1,1) NOT NULL,
	[Movie_Title] [varchar](50) NULL,
	[Movie_Ratting] [varchar](50) NULL,
	[Movie_Year] [int] NULL,
	[Movie_Copies] [int] NULL,
	[Movie_Cost] [int] NULL,
	[Movie_Plot] [varchar](50) NULL,
	[Movie_Genre] [varchar](50) NULL,
 CONSTRAINT [PK_MovieTable] PRIMARY KEY CLUSTERED 
(
	[Movie_Pk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTable]    Script Date: 5/12/2020 8:28:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTable](
	[Book_Id] [int] IDENTITY(1,1) NOT NULL,
	[Client_Pk] [int] NULL,
	[Movie_Pk] [int] NULL,
	[BookingDate] [varchar](50) NULL,
	[ReturnDate] [varchar](50) NULL,
 CONSTRAINT [PK_RentalTable] PRIMARY KEY CLUSTERED 
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
